extends ../components/Layout/layout.pug
block contenido
	div(class="Main-content")
		include ../components/Coleccion/template.pug
		include ../components/SliderR/template.pug
		include ../components/Modal/modal_colecciones.pug