extends ../components/Layout/layout.pug
block contenido
	include ../components/Banner/template.pug
	include ../components/HomeButtons/template.pug
	include ../components/Publicidad/coleccionBanner.pug
	include ../components/Publicidad/template.pug