script("text/javascript", src="../js/jquery-3.2.1.min.js")
script("text/javascript", src="../js/owl.carousel.min.js")
script("text/javascript", src="../js/remodal.min.js")
script("text/javascript", src="../js/functions.js")