nav.Menu
	ul.Menu-list
		li.Menu-item
			a.Menu-link(href="index.html")
				|	Inicio
		li.Menu-item
			a.Menu-link(href="")
				|	La marca
		li.Menu-item
			a.Menu-link(href="")
				|	Colecciones
		li.Menu-item
			a.Menu-link(href="")
				|	Factory
		li.Menu-item
			a.Menu-link(href="contacto.html")
				|	Contacto
		li.Menu-item
			a.Menu-link(href="")
				span.icon-lupa
		li.Menu-item
			a.Menu-link(href="")
				span.icon-carro
				|	Carrito