section.Publicidad
	article.Publicidad-item
		img(src="../images/01-index/publicidad.jpg")
	article.Publicidad-item
		img(src="http://lorempixel.com/1250/200/fashion/")
	article.Publicidad-item
		img(src="http://lorempixel.com/1250/200/abstract/")