section.Factory
	div.u-centrar
		div.Page-titleContainer
			h2.Page-title
				|	Factory
		div.Factory-content
			div.Factory-instrucciones
				p
					|	Texto  de el paso a paso de como lograr personalizar el artículo.
				p
					|	Texto  de el paso a paso de como lograr personalizar el artículo.
				p
					|	Texto  de el paso a paso de como lograr personalizar el artículo.
				p
					|	Texto  de el paso a paso de como lograr personalizar el artículo.
				p
					|	Texto  de el paso a paso de como lograr personalizar el artículo.
			div.Factory-container
				div.Factory-categoryContainer
					h4.Factory-categoryTitle
						|	Categoría
						span.icon-flecha-down
					div.Factory-categoryList
						a(href="#").Factory-categoryItem
							|	Anillos
						a(href="#").Factory-categoryItem
							|	Aretes
						a(href="#").Factory-categoryItem
							|	Collares
						a(href="#").Factory-categoryItem
							|	Gargantillas
						a(href="#").Factory-categoryItem
							|	Manillas
						a(href="#").Factory-categoryItem
							|	Pulseras
				div.Factory-productConfigurator
					#vpc-container.o-wrap.VPC_Default_Skin(data-curr='$')
						#vpc-components.o-col.xl-1-3.lg-1-3.md-1-1.sm-1-1
							#component-58a6cef85802f.vpc-component(data-component_id='component-58a6cef85802f')
								.vpc-component-header
									span(style='display: inline-block;')
										span Base
										span.vpc-selected.txt Negro
									span.vpc-selected-icon
										img(src='../images/04-factory/base_negro.png')
								.vpc-options
									.vpc-group
										.vpc-single-option-wrap(data-oid='option-58a6cef891512')
											input#option-58a6cef891512(type='radio', name='Base', value='Negro', data-img='../images/04-factory/base_negro.png', data-icon='../images/04-factory/base_negro.png', data-price='0', data-oid='option-58a6cef891512', checked='checked', data-default='1')
											label#cboption-58a6cef891512.custom(for='option-58a6cef891512', data-o-title='Clear +$ 0.00')
												div.imgLupaLarge
											style.
												#cboption-58a6cef891512:before
												{
												background-image: url("../images/04-factory/base_negro.png");
												}
										.vpc-single-option-wrap(data-oid='option-58a6cef844355')
											input#option-58a6cef844355(type='radio', name='Base', value='Rojo', data-img='../images/04-factory/base_rojo.png', data-icon='../images/04-factory/base_rojo.png', data-price='2', data-oid='option-58a6cef844355')
											label#cboption-58a6cef844355.custom(for='option-58a6cef844355', data-o-title='Rojo +$ 2.00')
												div.imgLupaLarge
											style.
												#cboption-58a6cef844355:before
												{
												background-image: url("../images/04-factory/base_rojo.png");
												}
										.vpc-single-option-wrap(data-oid='option-58a6cef8d21d1')
											input#option-58a6cef8d21d1(type='radio', name='Base', value='Verde', data-img='../images/04-factory/base_verde.png', data-icon='../images/04-factory/base_verde.png', data-price='3', data-oid='option-58a6cef8d21d1')
											label#cboption-58a6cef8d21d1.custom(for='option-58a6cef8d21d1', data-o-title='Verde +$ 3.00')
												div.imgLupaLarge
											style.
												#cboption-58a6cef8d21d1:before
												{
												background-image: url("../images/04-factory/base_verde.png");
												}
										.vpc-single-option-wrap(data-oid='option-58a6cef844136')
											input#option-58a6cef844136(type='radio', name='Base', value='Azul', data-img='../images/04-factory/base_azul.png', data-icon='../images/04-factory/base_azul.png', data-price='2', data-oid='option-58a6cef844136')
											label#cboption-58a6cef844136.custom(for='option-58a6cef844136', data-o-title='Azul +$ 2.00')
												div.imgLupaLarge
											style.
												#cboption-58a6cef844136:before
												{
												background-image: url("../images/04-factory/base_azul.png");
												}
							#component-58a6cef8065ea.vpc-component(data-component_id='component-58a6cef8065ea')
								.vpc-component-header
									span(style='display: inline-block;')
										span Broche
										span.vpc-selected.txt Plata
									span.vpc-selected-icon
										img(src='../images/04-factory/broche_plata.png')
								.vpc-options
									.vpc-group
										.vpc-group-name
										.vpc-single-option-wrap(data-oid='option-58a6cef83af94')
											input#option-58a6cef83af94(type='radio', name='Broche', value='Dorado', data-img='../images/04-factory/broche_dorado.png', data-icon='../images/04-factory/broche_dorado.png', data-price='0', data-oid='option-58a6cef83af94', data-default='1')
											label#cboption-58a6cef83af94.custom(for='option-58a6cef83af94', data-o-title='Dorado +$ 0.00')
												div.imgLupaLarge
											style.
												#cboption-58a6cef83af94:before
												{
												background-image: url("../images/04-factory/broche_dorado.png");
												}
										.vpc-single-option-wrap(data-oid='option-58a6cef83aa2e')
											input#option-58a6cef83aa2e(type='radio', name='Broche', value='Oro rosa', data-img='../images/04-factory/broche_oro_rosa.png', data-icon='../images/04-factory/broche_oro_rosa.png', data-price='3', data-oid='option-58a6cef83aa2e')
											label#cboption-58a6cef83aa2e.custom(for='option-58a6cef83aa2e', data-o-title='Red +$ 3.00')
												div.imgLupaLarge
											style.
												#cboption-58a6cef83aa2e:before
												{
												background-image: url("../images/04-factory/broche_oro_rosa.png");
												}
										.vpc-single-option-wrap(data-oid='option-155')
											input#option-155(type='radio', name='Broche', value='Plata', data-img='../images/04-factory/broche_plata.png', data-icon='../images/04-factory/broche_plata.png', data-price='3', data-oid='option-155', checked='checked')
											label#cboption-155.custom(for='option-155', data-o-title='Plata +$ 3.00')
												div.imgLupaLarge
											style.
												#cboption-155:before
												{
												background-image: url("../images/04-factory/broche_plata.png");
												}
						.o-col.xl-2-3.lg-2-3.md-1-1.sm-1-1
							div.Factory-mesa
								h4.Factory-mesaTitle
									|	Mesa de trabajo
							#vpc-preview
								img(src='../images/04-factory/base_negro.png')
								img(src='../images/04-factory/broche_plata.png')
								
							#vpc-price-container
								div.Factory-buttonCarContainer
									button#vpc-add-to-cart(data-remodal-target="modal")
										|	Agregar al carro
								span.vpc-price-label(style='font-weight: normal;color:#768e9d')  Total: 
								span#vpc-price $ 25.000
							div.Factory-buttonCarContainer
									a.Factory-buttonVerCar(href="carrito.html")
										|	Ver el carro
//- .vpc-options(style='display: inline-block;')