section.SliderR
	div.SliderR-item
		img(src="../images/03-colecciones/slide-recomendado.jpg")
	//- div.SliderR-item
	//- 	img(src="http://lorempixel.com/1250/435/people/")
	//- div.SliderR-item
	//- 	img(src="http://lorempixel.com/1250/435/nature/")
	//- div.SliderR-item
	//- 	img(src="http://lorempixel.com/1250/435/people/")