/*FOOTER*/
.Footer
	width 100%
	background $black_footer
	color white
	
	/*Copyright*/
	&-copy
		width 100%
		display inline-block
		font-weight 400
		font-size 0.59rem
		font-family "CenturyGothicRegular"
		margin-top 30px
		
		& a
			cursor pointer
	
	/*Social*/
	&-social
		font-size 1.12em
		color white
		margin 10px 0 5px
		
		& a
			color white
			cursor pointer
			display inline-block
			margin 0 17px
			
			&:hover
				text-decoration none
				color $verde_noia

		& a span
			font-size 1.7em
			vertical-align middle

	/*Menu*/
	&-menu
		width 100%
		margin 30px 0 45px
		display inline-block
		
		& div
			display flex
			justify-content space-around
			flex-flow column wrap
			height 200px
			
		//para WP
		& div li
			list-style none
			width 45%
			height 40px
			
		& div a
			cursor pointer
			color white
			font-size 0.59rem
			font-family "CenturyGothicRegular"
			width 45%
			height 40px

@media screen and (min-width:840px)
	.Footer
		/*Menu*/
		&-menu
			& div
				flex-flow row wrap
				height auto
			//para WP
			& div li
				width auto
				height auto
			& div a
				width auto
				height auto