footer.Footer
	div.u-centrar
		div.Footer-copy
			p
				|	Todos los derechos reservados | Manufacturas EME S.A.S.
		div.Footer-social
			a(href="#", target="_blank")
				span.icon-instagram2
				| Instagram
			a(href="#", target="_blank")
				span.icon-facebook
				| Facebook
			a(href="#", target="_blank")
				span.icon-linkedin
				| Pinterest
		nav.Footer-menu
			div
				a(href="#")
					| Carrito
				a(href="#")
					| Colecciones
				a(href="#")
					| FACTORY
				a(href="#")
					| Finalizar compra
				a(href="#")
					| Mi cuenta
				a(href="#")
					| Inicio
				a(href="#")
					| La marca
				a(href="#")
					| Contacto
				a(href="#")
					| Terminos y condiciones