/*HOMEBUTTONS*/

.HomeButtons
	// display flex
	width 100%
	text-align center

	&-item
		background $verde_noia_light
		width 33.33%
		height 200px
		display inline-block
		cursor pointer
		color white
		box-sizing border-box
		padding 10px
		
	&-title
		margin-top 90px
		color white
		font-family 'CenturyGothicBold', sans-serif
		font-size 1.31rem
		
	&-text
		color white
		font-family 'CenturyGothicRegular', sans-serif
		font-size 1.07rem