section.HomeButtons
	a.HomeButtons-item(href="#")
		h3.HomeButtons-title
			|	Noticias
		p.HomeButtons-text
			|	Bla bla bla Bla Bla Bla
	a.HomeButtons-item(href="#")
		h3.HomeButtons-title
			|	FACTORY
		p.HomeButtons-text
			|	Bla bla bla Bla Bla Bla
	a.HomeButtons-item(href="#")
		h3.HomeButtons-title
			|	Colecciones
		p.HomeButtons-text
			|	Bla bla bla Bla Bla Bla