section.Coleccion
	div.u-centrar
		div.Page-titleContainer
			h2.Page-title
				|	Colecciones
		div.Coleccion-container
			div.Coleccion-header
				div.Coleccion-selector
					a(href="#").selected
						|	Todo
					a(href="#")
						|	Mujer
					a(href="#")
						|	Hombre
				h3.Coleccion-title
					|	Galería de producto por categoría
			div.Coleccion-content
				div.Coleccion-categorias
					h4.Coleccion-categoriasTitle
						|	Categorías
					div.Coleccion-categoriasList
						a(href="#").Coleccion-categoriasItem
							|	Anillos
						a(href="#").Coleccion-categoriasItem
							|	Aretes
						a(href="#").Coleccion-categoriasItem
							|	Collares
						a(href="#").Coleccion-categoriasItem
							|	Gargantillas
						a(href="#").Coleccion-categoriasItem
							|	Manillas
						a(href="#").Coleccion-categoriasItem
							|	Pulseras
				div.Coleccion-galery
					a(href="#modal_colecciones").Coleccion-galeryItem
						img(src="../images/03-colecciones/1.jpg")
					a(href="#modal_colecciones").Coleccion-galeryItem
						img(src="../images/03-colecciones/2.jpg")
					a(href="#modal_colecciones").Coleccion-galeryItem
						img(src="../images/03-colecciones/3.jpg")
					a(href="#modal_colecciones").Coleccion-galeryItem
						img(src="../images/03-colecciones/4.jpg")
					a(href="#modal_colecciones").Coleccion-galeryItem
						img(src="../images/03-colecciones/5.jpg")
					a(href="#modal_colecciones").Coleccion-galeryItem
						img(src="../images/03-colecciones/6.jpg")