div.Banner
	div.Banner-item
		img(src="../images/01-index/banner.jpg")
		div.Banner-txtContainer.u-centrar
			div.Banner-txtOver
				h2
					|	Personaliza
					br
					span
						|	tus accesorios
				include ../Buttons/template.pug
			div.Banner-btnDown
				span.icon-flecha-down
	//- div.Banner-item
	//- 	img(src="http://lorempixel.com/1920/408/people/")
	//- div.Banner-item
	//- 	img(src="http://lorempixel.com/1289/408/nature/")
	//- div.Banner-item
	//- 	img(src="http://lorempixel.com/1920/408/people/")