div.Banner
	div.Banner-item
		img(src="../images/01-index/banner.jpg")
		div.Banner-txtContainer.u-centrar
			div.Banner-txtOver
				h2
					|	Personaliza
					br
					span
						|	tus accesorios
				include ../Buttons/template.pug
			div.Banner-btnDownContainer
				span.Banner-btnDown.icon-flecha-down
	div.Banner-item
		img(src="http://lorempixel.com/1366/706/fashion/")
		div.Banner-txtContainer.u-centrar
			div.Banner-txtOver
				h2
					|	Personaliza
					br
					span
						|	tus accesorios
				include ../Buttons/template.pug
			div.Banner-btnDownContainer
				span.Banner-btnDown.icon-flecha-down
	div.Banner-item
		img(src="http://lorempixel.com/1366/706/nightlife/")
		div.Banner-txtContainer.u-centrar
			div.Banner-txtOver
				h2
					|	Personaliza
					br
					span
						|	tus accesorios
				include ../Buttons/template.pug
			div.Banner-btnDownContainer
				span.Banner-btnDown.icon-flecha-down