/*MODAL*/
.Modal
	background rgba(255,255,255,0.9)
	& p
		font-family 'CenturyGothicRegular', sans-serif
		color #4D4D4D
		font-size 0.87rem
		
	& p span.icon-carro
		color #333333
		font-size 54px
		margin 17px 0
		display inline-block
		
	&-button
		display inline-block
		font-family 'CenturyGothicBold', sans-serif
		background-color $verde_noia
		cursor pointer
		border-radius 5px
		color white
		font-size 0.87rem
		text-decoration none
		padding 7px
		margin 4px
		transicion()
		width 170px
		
		
		&:hover
			background-color $verde_noia_dark
			text-decoration none
			
	&-buttonRight
		display inline-block
		font-family 'CenturyGothicBold', sans-serif
		background-color $verde_noia
		cursor pointer
		border-radius 5px
		color white
		font-size 0.87rem
		text-decoration none
		padding 7px
		margin 4px
		transicion()
		width 106px
		float right
		
		
		&:hover
			background-color $verde_noia_dark
			text-decoration none