div.remodal.Modal(data-remodal-id="modal_colecciones")
	button(data-remodal-action="close").remodal-close
	img(src="../images/03-colecciones/1.jpg")
	br
	a(href="factory.html#modal").Modal-buttonRight Comprar