div.remodal.Modal(data-remodal-id="modal")
	button(data-remodal-action="close").remodal-close
	p Se ha agregado tu producto al carrito de compras
	p
		span.icon-carro
	br
	a(href="factory.html").Modal-button Seguir comprando
	a(href="carrito.html").Modal-button Ir al carrito de compras