/*CARRITO*/

.Carrito
	width 100%
	
	& .Page-titleContainer .icon-carro
		float right
		font-size 2.3rem
		margin 23px 30px 15px 10px
		color black
		
	& form
		font-family 'CenturyGothicRegular', sans-serif
/*Tabla dentro del formulario*/
.shop_table
	width 90%
	font-size 0.87rem
	margin 0 5%

	& thead
		text-transform uppercase
		font-size 0.87rem
		text-align left
		display none

		& tr th
			padding 10px
			border-bottom 1px solid $light_gray
			
			&.product-name
				padding-left 30px

	& tbody
		text-align left

		& tr.car_item
			
			& td
				border 1px solid $light_gray
				padding 10px

			& td.product-thumbnail
				vertical-align middle
				
				& a
					width 60px
					height 60px
					display inline-block
					vertical-align middle

				& img
					width 60px
					height 60px

			& td.product-name a
				color black
				text-decoration none
				
				&:hover
					color $verde_noia

			& td.product-remove
				
				& a
					color black
					text-decoration none
					font-size 1.25rem

					&:hover
						color red
						text-decoration none
		& tr.car_summary
			& td
				padding 18px 10px 10px
			
			& td.actions
				padding-left 30px

				& div.coupon
					display inline-block
					
					& .input-text
						width 130px
						height 25px
						border-radius 5px
						font-family 'CenturyGothicRegular', sans-serif
						margin 0 10px
						padding 5px
						box-sizing border-box
						
					& .button
						background-color $verde_noia_light
						font-family 'CenturyGothicRegular', sans-serif
						text-transform uppercase
						width 80px
						height 25px
						font-size 0.81rem
						cursor pointer
						border-radius 5px
						border none
						transicion()
						
						&:hover
							background-color $verde_noia_dark
			& td.actualizar
				& .buttonActualizar
					background-color $verde_noia_light
					font-family 'CenturyGothicRegular', sans-serif
					text-transform uppercase
					height 25px
					font-size 0.81rem
					cursor pointer
					border-radius 5px
					border none
					transicion()
					
					&:hover
						background-color $verde_noia_dark
			& td.order-total
				text-transform uppercase
				font-family 'CenturyGothicBold', sans-serif
	/*Tabla responsive*/
	& tr
		display block
		
		& td
			display block
			text-align right
			// text-align right !important // Important to overwrite order status inline styling
			
			&:before
				content attr(data-title) ': '
				font-weight 700
				float left

		&:nth-child(2n)
			td
				background-color rgba(0,0,0,0.025)
	& tr.car_summary
		& td
			&:before
				display none

.checkout-buttonContainer
	text-align right

.checkout-button
	display inline-block
	width 100px
	height 25px
	font-size 0.81rem
	cursor pointer
	border-radius 5px
	color black
	text-decoration none
	text-transform uppercase
	background-color $verde_noia_light
	line-height 25px
	text-align center
	transicion()
	margin 50px
	
	&:hover
		background-color $verde_noia_dark
		text-decoration none
		font-family 'CenturyGothicBold', sans-serif

/*Estilos input type number*/

.quantity
	position relative
	display inline-block
	vertical-align middle

	& input[type=number]::-webkit-inner-spin-button
		-webkit-appearance none
		margin 0
	& input[type=number]::-webkit-outer-spin-button
		-webkit-appearance none
		margin 0
	& input[type=number]
		-moz-appearance textfield
	& input
		width 45px
		height 42px
		line-height 1.65
		float left
		display block
		padding 0
		margin 0
		padding-left 20px
		border none
		font-family 'CenturyGothicRegular', sans-serif
		
		&:focus
			outline 0
			
/*elementos agregados con Jquery*/
.quantity-nav
	float left
	position relative
	height 42px

.quantity-button
	position relative
	cursor pointer
	width 20px
	text-align center
	color #333
	font-size 13px
	line-height 1.7
	-webkit-transform translateX(-100%)
	transform translateX(-100%)
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	-o-user-select none
	user-select none

.quantity-button.quantity-up
	position absolute
	height 50%
	top 0
	
	&:hover
		color $verde_noia

.quantity-button.quantity-down
	position absolute
	bottom -1px
	height 50%
	
	&:hover
		color $verde_noia
		
@media screen and (min-width:840px)

	.shop_table
		width 100%
		margin 0
		
		& thead
			display table-header-group
			
		& tr
			display table-row
			
			& td
				display table-cell
				text-align left

		& tbody
			text-align left

			& tr.car_item
				
				& td
					border none
					border-bottom 1px solid $light_gray
					padding 0
				
					&:before
						display none

				& td.product-thumbnail
					padding-left 30px

				& td.product-name
					width 237px

				& td.product-price
					text-align left
					padding-left 10px
					
				& td.product-subtotal
					padding-left 10px
					
				& td.product-remove
					padding-left 32px

			& tr.car_summary
				& td
					padding 18px 10px 10px
				
				& td.actions
					padding-left 30px