section.Carrito
	div.u-centrar
		div.Page-titleContainer
			h2.Page-title
				|	Carrito de compras
			span.icon-carro
		div.Carrito-content
			form
				table.shop_table.shop_table_responsive.cart(cellspacing="0")
					thead
						tr
							th.product-name(colspan="2")
								|	Producto
							th.product-price
								|	Precio unidad
							th.product-quantity
								|	Cantidad
							th.product-subtotal
								|	Subtotal
							th.product-remove
								|	Eliminar
					tbody
						tr.car_item
							td.product-thumbnail(data-title="Imagen del Producto")
								a(href="#").Carrito-thumbnail
									img(src="../images/03-colecciones/1.jpg")
							td.product-name(data-title="Producto")
								a(href="#")
									|	Collar custom 1
							td.product-price(data-title="Precio unidad")
								|	$ 25.000
							td.product-quantity(data-title="Cantidad")
								div.quantity
									input(type="number", step="1", min="0", value="1")
							td.product-subtotal(data-title="Subtotal")
								|	$ 25.000
							td.product-remove(data-title="Eliminar")
								a(href="#")
									span.icon-eliminar-x
						tr.car_summary
							td(colspan="3").actions
								div.coupon
									label(for="coupon_code")
										|	Si tienes código de descuento
									input#coupon_code(type="text", name="coupon_code").input-text
									input(type="submit", name="apply_coupon",value="Enviar").button
							td.actualizar
								input(type="submit", name="update_cart", value="Actualizar Carrito").buttonActualizar
							td.order-total
								|	Total
							td.order-total-number(data-title="Total")
								|	$ 25.000
				div.checkout-buttonContainer
					a(href="cuenta.html").checkout-button.button.alt.wc-forward
						|	Comprar