/*HEADER*/

.Header
	overflow auto
	background $transparent_black
	position fixed
	top 0
	left 0
	right 0
	z-index 10
	min-height 100px
	max-height 100%
	&-logo
		cursor pointer
		display inline-block
		float left
		vertical-align middle
		width 172px
		height 100px
		margin-left 1rem
		
		&:hover
			text-decoration none

	&-logo h1
		border 0
		height 1px
		margin -1px
		overflow hidden
		padding 0
		position absolute
		width 1px
		
@media screen and (min-width:840px)
	.Header
		overflow none