header.Header
	div.u-centrar
		a.Header-logo(href="index.html")
			h1
				|	Noia Factory
			//- img.Header-logoImg(src="../images/01-index/logo.png")
		div.Menu-btn
			span.icon-menu
		include ../Menu/template.pug