@import "nib"
//Al parecer ahora "nib" incluye normalize, sin embargo revisar los estilos
// @import "normalize.styl"

//---------------------------------------------------------------------
// FUENTES
//---------------------------------------------------------------------


@font-face
	font-family:"CenturyGothicRegular";
	src: url('../fonts/CenturyGothicRegular.ttf');

@font-face
	font-family:"CenturyGothicBold";
	src: url('../fonts/CenturyGothicBold.ttf');


@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700')

//---------------------------------------------------------------------
// ICONOS COMO FUENTES
//---------------------------------------------------------------------

@import "iconfonts.styl"


//---------------------------------------------------------------------
// COLORES
//---------------------------------------------------------------------

$azul_face = #3B5998
$azul_twitter = #55ACEE
$rojo_gooplus = #DD4B39

$verde_noia = #00CBBE
$verde_noia_light = #00CBBE
$verde_noia_dark = #00A599

$black_footer = #1A1A1A
$black_light = #333333

$light_gray = #c8c8c8
$gray = #666666

$transparent_black = rgba(0,0,0,.5);

//---------------------------------------------------------------------
// MIXINS
//---------------------------------------------------------------------

transicion(duracion = 0.3s)
	transition: all duracion linear

//---------------------------------------------------------------------
// ESTILOS GENERALES
//---------------------------------------------------------------------

html
	font-size 16px
	height 100%
	font-family 'CenturyGothicRegular', sans-serif
	
body
	height 87%
	background white
	
img
	display inline-block
	max-width 100%
	height auto

figure
	margin 0
	padding 0

a
	text-decoration none
	color $verde_noia
	transicion()
	
	&:hover
		text-decoration: underline
		
video, object, embed, iframe
	position absolute
	top 0
	left 0
	width 100%
	height 100%

fieldset	
	padding 0
	margin 0
	border none
//---------------------------------------------------------------------
// UTILIDADES (REUSABLE CLASES)
//---------------------------------------------------------------------

.u-centrar
	margin 0 auto
	max-width 960px
	text-align center
	
.Main-content
	margin-top 100px
	min-height 80%
	
.Main-content-home
	margin-top 0
	
.Page-titleContainer
	overflow hidden
	
.Page-title
	text-transform uppercase
	font-family 'CenturyGothicBold', sans-serif
	color black
	font-size 1.57rem
	margin 28px 7px 15px
	text-align left
	float left
	
.Page-subTitle
	font-family 'CenturyGothicBold', sans-serif
	font-size 0.87rem
	color $verde_noia_light
	text-align left
	
.Page-txt
	font-family 'CenturyGothicRegular', sans-serif
	font-size 0.75rem
	color black
	text-align left
	
.Form-input
	font-family 'CenturyGothicRegular', sans-serif
	font-size 0.75rem
	color $gray
	display inline-block
	width 100%
	padding 7px
	border 1px solid black
	border-radius 5px
	margin 3px 0
	box-sizing border-box
	
//---------------------------------------------------------------------
// COMPONENTES
//---------------------------------------------------------------------

/*HEADER*/
@import "../components/Header/estilos.styl"

/*LOGO NOIA*/
@import "../components/LogoNoia/estilos.styl"

/*MENU*/
@import "../components/Menu/estilos.styl"

/*BANNER*/
@import "../components/Banner/estilos.styl"

/*BUTTONS*/
@import "../components/Buttons/estilos.styl"

/*HOMEBUTTONS*/
@import "../components/HomeButtons/estilos.styl"

/*PUBLICIDAD*/
@import "../components/Publicidad/estilos.styl"

/*COLECCION*/
@import "../components/Coleccion/estilos.styl"

/*SLIDERR*/
@import "../components/SliderR/estilos.styl"

/*CARRITO*/
@import "../components/Carrito/estilos.styl"

/*CUENTA*/
@import "../components/Cuenta/estilos.styl"

/*FOOTER*/
@import "../components/Footer/estilos.styl"

//---------------------------------------------------------------------
// RESPONSIVE
//---------------------------------------------------------------------


@media screen and (min-width:840px)
	.Page-title
		font-size 1.87rem
		
/*
@media screen and (min-width:960px)
	.u-halfColumn
		display inline-block
		width 47%
		vertical-align top

@media screen and (min-width:1100px)
	.Twitter
		display inline-block
	.twitter-timeline
		height 550px
*/