@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?to3qm5');
  src:  url('../fonts/icomoon.eot?to3qm5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?to3qm5') format('truetype'),
    url('../fonts/icomoon.woff?to3qm5') format('woff'),
    url('../fonts/icomoon.svg?to3qm5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-carro:before {
  content: "\e902";
}
.icon-eliminar-x:before {
  content: "\e903";
}
.icon-face:before {
  content: "\e904";
}
.icon-flecha-doble-up:before {
  content: "\e905";
}
.icon-flecha-down:before {
  content: "\e906";
}
.icon-flecha-left:before {
  content: "\e907";
}
.icon-flecha-right:before {
  content: "\e908";
}
.icon-flecha-up:before {
  content: "\e909";
}
.icon-instagram3:before {
  content: "\e90a";
}
.icon-logo .path1:before {
  content: "\e90b";
  color: rgb(0, 164, 168);
}
.icon-logo .path2:before {
  content: "\e90c";
  margin-left: -2.29296875em;
  color: rgb(0, 164, 168);
}
.icon-logo .path3:before {
  content: "\e90d";
  margin-left: -2.29296875em;
  color: rgb(1, 2, 2);
}
.icon-logo .path4:before {
  content: "\e90e";
  margin-left: -2.29296875em;
  color: rgb(1, 2, 2);
}
.icon-logo .path5:before {
  content: "\e90f";
  margin-left: -2.29296875em;
  color: rgb(1, 2, 2);
}
.icon-logo .path6:before {
  content: "\e92f";
  margin-left: -2.29296875em;
  color: rgb(1, 2, 2);
}
.icon-logo .path7:before {
  content: "\e930";
  margin-left: -2.29296875em;
  color: rgb(1, 2, 2);
}
.icon-logo .path8:before {
  content: "\e931";
  margin-left: -2.29296875em;
  color: rgb(1, 2, 2);
}
.icon-logo .path9:before {
  content: "\e932";
  margin-left: -2.29296875em;
  color: rgb(1, 2, 2);
}
.icon-lupa:before {
  content: "\e933";
}
.icon-pinterest4:before {
  content: "\e934";
}
.icon-chevron-thin-up:before {
  content: "\e911";
}
.icon-chevron-thin-down:before {
  content: "\e924";
}
.icon-chevron-down:before {
  content: "\e925";
}
.icon-chevron-up:before {
  content: "\e926";
}
.icon-chevron-right:before {
  content: "\e910";
}
.icon-chevron-left:before {
  content: "\e915";
}
.icon-chevron-thin-left:before {
  content: "\e913";
}
.icon-chevron-thin-right:before {
  content: "\e914";
}
.icon-google-plus4:before {
  content: "\e927";
}
.icon-facebook3:before {
  content: "\e901";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-chevron-left2:before {
  content: "\f053";
}
.icon-chevron-right2:before {
  content: "\f054";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-phone:before {
  content: "\f095";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-twitter2:before {
  content: "\f099";
}
.icon-facebook2:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-feed:before {
  content: "\f09e";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-square:before {
  content: "\f0d3";
}
.icon-google-plus3:before {
  content: "\f0d5";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin3:before {
  content: "\f0e1";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-youtube4:before {
  content: "\f167";
}
.icon-instagram2:before {
  content: "\f16d";
}
.icon-vine:before {
  content: "\f1ca";
}
.icon-share-alt:before {
  content: "\f1e0";
}
.icon-at:before {
  content: "\f1fa";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-pinterest-p:before {
  content: "\f231";
}
.icon-vimeo:before {
  content: "\f27d";
}
.icon-volume-control-phone:before {
  content: "\f2a0";
}
.icon-phone2:before {
  content: "\e928";
}
.icon-phone-hang-up:before {
  content: "\e929";
}
.icon-location:before {
  content: "\e916";
}
.icon-location2:before {
  content: "\e917";
}
.icon-mobile3:before {
  content: "\e92a";
}
.icon-mobile2:before {
  content: "\e92b";
}
.icon-menu:before {
  content: "\e900";
}
.icon-share2:before {
  content: "\e918";
}
.icon-google-plus:before {
  content: "\e919";
}
.icon-google-plus2:before {
  content: "\e92c";
}
.icon-facebook:before {
  content: "\e91a";
}
.icon-instagram:before {
  content: "\e91b";
}
.icon-twitter:before {
  content: "\e912";
}
.icon-feed2:before {
  content: "\e91c";
}
.icon-youtube:before {
  content: "\e91d";
}
.icon-youtube2:before {
  content: "\e91e";
}
.icon-youtube3:before {
  content: "\e91f";
}
.icon-blogger:before {
  content: "\e920";
}
.icon-blogger2:before {
  content: "\e921";
}
.icon-linkedin:before {
  content: "\e922";
}
.icon-linkedin2:before {
  content: "\e923";
}
.icon-pinterest3:before {
  content: "\e92d";
}
.icon-pinterest2:before {
  content: "\e92e";
}
